<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMigrationToolService" 
                         closeTimeout="00:1:00" 
                         openTimeout="00:1:00" 
                         receiveTimeout="00:20:00" 
                         sendTimeout="00:20:00" 
                         allowCookies="false" 
                         bypassProxyOnLocal="false" 
                         hostNameComparisonMode="StrongWildcard" 
                         maxBufferSize="2147483647" 
                         maxBufferPoolSize="2147483647" 
                         maxReceivedMessageSize="2147483647" 
                         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" 
                                  maxStringContentLength="2147483647" 
                                  maxArrayLength="2147483647" 
                                  maxBytesPerRead="2147483647" 
                                  maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.samplelocalhost6.com/api/v1/MigrationToolService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMigrationToolService" contract="MigrationServices.IMigrationToolService" name="BasicHttpBinding_IMigrationToolService" />
        </client>
    </system.serviceModel>
<connectionStrings><add name="BV53Entities" connectionString="metadata=res://*/Migrators.BV5.data.OldDatabase.csdl|res://*/Migrators.BV5.data.OldDatabase.ssdl|res://*/Migrators.BV5.data.OldDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=shipped_5.3;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /><add name="bvc2004Entities" connectionString="metadata=res://*/Migrators.BV2004.data.OldDatabase.csdl|res://*/Migrators.BV2004.data.OldDatabase.ssdl|res://*/Migrators.BV2004.data.OldDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=shipped_2004;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>