<?xml version="1.0" encoding="utf-8" ?>
<!-- 

  This software is copyrighted 2002-2009 by 
  BV Software, LLC and Marcus McConnell. 
  All Rights Reserved

  This software is licensed under the 
  Microsoft Reciprocal License. 
  By using this software and/or source code 
  you agree to this license. A copy of the license
  can be found online or included in this 
  distribution in License.txt
  
-->

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Connector.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Connector.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Connector.My.MySettings>
            <setting name="WebStoreUrl" serializeAs="String">
                <value>http://localhost/bvc5</value>
            </setting>
            <setting name="WebUsename" serializeAs="String">
                <value>admin@bvcommerce.com</value>
            </setting>
            <setting name="WebPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="LastOrderNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SingleOrderNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartOrderNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EndOrderNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompanyFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCompanyFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOrderPrefix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OrderPrefix" serializeAs="String">
                <value>BVC</value>
            </setting>
            <setting name="UseUsernamePrefix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsernamePrefix" serializeAs="String">
                <value>BVC</value>
            </setting>
            <setting name="SendCreditCardInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseExportDateInsteadOfOrderDate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkOrdersToBePrinted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarkUnpaidOrdersAsPending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportProductsAsSKU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseQuickBooksItemDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseInlineTax" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShippingItemName" serializeAs="String">
                <value>BVC Shipping</value>
            </setting>
            <setting name="HandlingItemName" serializeAs="String">
                <value>BVC Handling</value>
            </setting>
            <setting name="InlineTaxItemName" serializeAs="String">
                <value>BV Tax</value>
            </setting>
            <setting name="InvoiceAccountsReceivableAccount" serializeAs="String">
                <value>Accounts Receivable</value>
            </setting>
            <setting name="InvoiceDepostAccount" serializeAs="String">
                <value>Undeposited Funds</value>
            </setting>
            <setting name="DepositInvoices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DepositSalesReceipts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SalesReceiptDepositAccount" serializeAs="String">
                <value>Undeposited Funds</value>
            </setting>
            <setting name="PaymentAmex" serializeAs="String">
                <value>Amex</value>
            </setting>
            <setting name="PaymentDiners" serializeAs="String">
                <value>Diner's Club</value>
            </setting>
            <setting name="PaymentDiscover" serializeAs="String">
                <value>Discover</value>
            </setting>
            <setting name="PaymentJCB" serializeAs="String">
                <value>JCB</value>
            </setting>
            <setting name="PaymentMasterCard" serializeAs="String">
                <value>Master Card</value>
            </setting>
            <setting name="PaymentVisa" serializeAs="String">
                <value>Visa</value>
            </setting>
            <setting name="PaymentPayPal" serializeAs="String">
                <value>PayPal</value>
            </setting>
            <setting name="PaymentTelephone" serializeAs="String">
                <value>Telephone</value>
            </setting>
            <setting name="UseProductPrefix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProductPrefix" serializeAs="String">
                <value>BVC</value>
            </setting>
            <setting name="NewProductIncomeAccount" serializeAs="String">
                <value>Other Income</value>
            </setting>
            <setting name="UseShipMethodPrefix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShipMethodPrefix" serializeAs="String">
                <value>BVC</value>
            </setting>
            <setting name="ShippingItemIncomeAccount" serializeAs="String">
                <value>Shipping Charge Income</value>
            </setting>
            <setting name="InlineTaxVendorName" serializeAs="String">
                <value>BVC Tax Vendor</value>
            </setting>
            <setting name="HandlineIncomeAccount" serializeAs="String">
                <value>Shipping Charge Income</value>
            </setting>
            <setting name="OrderDiscount" serializeAs="String">
                <value>BVC Discount</value>
            </setting>
            <setting name="ExportUsersAsName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExportReverseUserName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PaymentCheck" serializeAs="String">
                <value>Check</value>
            </setting>
            <setting name="PaymentEmail" serializeAs="String">
                <value>Email</value>
            </setting>
            <setting name="PaymentPO" serializeAs="String">
                <value>PO</value>
            </setting>
            <setting name="PaymentCash" serializeAs="String">
                <value>Cash</value>
            </setting>
            <setting name="PaymentFax" serializeAs="String">
                <value>Fax</value>
            </setting>
            <setting name="PaymentOther" serializeAs="String">
                <value>Other</value>
            </setting>
            <setting name="QBApplicationName" serializeAs="String">
                <value>BV Connector for QuickBooks</value>
            </setting>
            <setting name="UseSubProductNameMatching" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MarkPaidOrdersToBePrinted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateCustomersAsCompany" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseExportDateForShipping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportOrderMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SendInventoryToWeb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendPricesToWeb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateInventoryItems" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="COGAccount" serializeAs="String">
                <value>Cost of Goods Sold</value>
            </setting>
            <setting name="InventoryAssetAccount" serializeAs="String">
                <value>Inventory Asset</value>
            </setting>
            <setting name="ImportToMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProductUseTitleOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableTaxes" serializeAs="String">
                <value>False</value>
            </setting>
        </Connector.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Connector.My.MySettings>
            <setting name="OrderExport3_BVC5WebServices_WebServices3" serializeAs="String">
                <value>http://localhost/CommerceMain/WebServices3.asmx</value>
            </setting>
        </Connector.My.MySettings>
    </applicationSettings>
</configuration>
